main {
	.left-panel {
		float: left;
		width: 60%;
		image-swapper {
			ul.item-choices {
				display: flex;

				li {
					border: 1px solid transparent;
					&:hover {
						opacity: 0.5;
						cursor: pointer;
					}
					&.selected {
						border: 1px solid black;
						opacity: 1.0;
						pointer-events: none;
					}
				}
			}
			.breadcrumbs {
				padding-bottom: 25px;
				font-size: 14px;
				color: $color-text-light;

				.item {
					color: $color-text-dark;
				}
			}
		}
	}
	.right-panel {
		float: right;
		width: 40%;
		margin-top: 100px;
		expandable-paragraphs {
			background: pink;
			text-align: left;

			ul {
				margin-top: 25px;
				padding: 0;
				border-top: 3px solid #ccc;
				border-bottom: 3px solid #ccc;
			}

			.paragraph {
				border-bottom: 1px solid #aaa;
				.expander {
					cursor: pointer;
				}
				.copy-text {
					display: none;
				}
				&.expanded {
					.copy-text {
						display: block;
					}
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.button-confirm {
			cursor: pointer;
		}
	}
}

